.camera {
  padding: 20px;
  border: 2px solid gray;
  margin-top: 20px;
  * {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s visibility 1s;
  }
  &.visible {
    * {
      opacity: 1;
      visibility: visible;
    }
  }
  video {
    width: 100%;
    margin-bottom: 15px;
  }
  &__filters {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border: 2px solid gray;
  }
}
